name: Deploy
description: 'Deploy the application to the production server using Docker Compose. This action connects to the production server via SSH, sets up a Docker context, and runs the necessary Docker Compose commands to deploy the application.'
branding:
  icon: 'anchor'
  color: 'blue'
inputs:
  ssh-host:
    description: 'The hostname or IP address of the production server (e.g., "example.com").'
    required: true
  ssh-known-hosts:
    description: 'The SSH known hosts entry for the production server (e.g., "github.com ssh-rsa ...").'
    required: true
  ssh-private-key:
    description: 'The SSH private key to use for connecting to the production server. This should be stored as a secret in the repository.'
    required: true
  dotenv-private-key:
    description: 'The private key to use for decrypting secrets in the .env file on the production server. This should be stored as a secret in the repository.'
    required: true
  hostname:
    description: 'The domain to use for the application deployment (e.g., "example.com").'
    required: true
runs:
  using: "composite"
  steps:
    - uses: actions/checkout@v6
    - uses: webfactory/ssh-agent@v0.9.1
      with:
        ssh-private-key: ${{ inputs.ssh-private-key }}
    - name: Pin known hosts
      run: |
        echo "::group::Pinning known hosts"
        echo "${{ inputs.ssh-known-hosts }}" >> ~/.ssh/known_hosts
        echo "::debug::Known hosts updated:"
        cat ~/.ssh/known_hosts
        echo "::endgroup::"
      shell: sh
    - name: Setting up Docker context for remote deployment
      run: |
        docker context create the-box --description "The Box" --docker "host=ssh://github@${{ inputs.ssh-host }}"
        docker context use the-box
      shell: sh
    - uses: codingjoe/the-box/actions/compose@main
    - name: Install dotenvx
      shell: sh
      run: curl -fsSL https://dotenvx.sh | sh
    - name: Deploy application to the box
      run: dotenvx run --env-file .env.${{ job.environment.name }} -- docker compose --file compose.${{ job.environment.name }}.yml --project-name ${{ github.ref_name }}  up --detach --quiet-pull
      shell: sh
      env:
        HOSTNAME: ${{ inputs.hostname }}
        DOTENV_PRIVATE_KEY: ${{ inputs.dotenv-private-key }}
