{
  cache {
    redis {
      configuration {
        InitAddress {$REDIS_CACHE_ADDR}
        Password {$REDIS_CACHE_PASSWORD}
        ClientName souin-redis
      }
    }
  }
  log {
    output stdout
    format json
  }
}

:80, :443 {
  respond "Misdirected Request" 421
}
