name: Backup
on:
  workflow_call:
    inputs:
      SSH_HOSTNAME:
        required: false
        type: string
      SSH_KNOWN_HOSTS:
        required: false
        type: string
    secrets:
      SSH_PRIVATE_KEY:
        required: true
concurrency:
  group: pg-backup
  cancel-in-progress: false
jobs:
  pg_dump:
    if: inputs.SSH_HOSTNAME != ''
    name: PostgreSQL
    runs-on: ubuntu-latest
    concurrency: pg_dump
    steps:
      - uses: actions/checkout@v6
      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Pin known hosts
        run: |
          echo "::group::Pinning known hosts"
          echo "${{ inputs.SSH_KNOWN_HOSTS }}" >> ~/.ssh/known_hosts
          echo "::debug::Known hosts updated:"
          cat ~/.ssh/known_hosts
          echo "::endgroup::"
      - name: Setting up Docker context for remote deployment
        run: |
          docker context create production --description "Production Server" --docker "host=ssh://github@${{ inputs.SSH_HOSTNAME }}"
          docker context use production
          touch .env
      - name: Capture Postgres backup
        run: docker compose exec postgres /usr/bin/pg_dump -Rc -U postgres postgres > backup.dump
      - name: Upload Postgres backup artifact
        uses: actions/upload-artifact@v6
        with:
          name: backup.dump
          path: backup.dump
