name: Release
on:
  push:
    branches:
      - main
  release:
    types:
      - published
  workflow_dispatch:
jobs:
  oci-artifacts:
    name: OCI artifact
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        service:
          - caddy
          - postgres
          - redis
          - smtp
          - web
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: codingjoe/the-box/actions/compose@main
      - run: docker compose --file containers/compose.${{ matrix.service }}.yml config --no-interpolate --no-path-resolution --no-env-resolution -o compose.${{ matrix.service }}.compiled.yml
      - run: docker compose --file compose.${{ matrix.service }}.compiled.yml publish -y the-box-${{ matrix.service }}:${{ github.event.release.tag_name }}
      - uses: actions/upload-artifact@v6
        with:
          name: compose.${{ matrix.service }}.yml
          path: compose.${{ matrix.service }}.compiled.yml
