name: Release
on:
  push:
    branches:
      - main
  release:
    types:
      - published
  workflow_dispatch:
jobs:
  containers:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        container:
          - caddy
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ vars.DOCKER_USERNAME }}/the-box-${{ matrix.container }}
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: containers/${{ matrix.container }}
          file: containers/${{ matrix.container }}/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: index.docker.io/${{ vars.DOCKER_USERNAME }}/the-box-${{ matrix.container }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
  oci-artifacts:
    name: OCI artifact
    needs: containers
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        service:
          - caddy
          - postgres
          - redis
          - smtp
          - web
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: codingjoe/the-box/actions/compose@main
      - run: docker compose --file containers/compose.${{ matrix.service }}.yml config --no-interpolate --no-path-resolution --no-env-resolution -o compose.${{ matrix.service }}.compiled.yml
      - run: docker compose --file compose.${{ matrix.service }}.compiled.yml publish --yes ${{ github.actor }}/the-box-${{ matrix.service }}:${{ github.ref_name }}
      - run: docker compose --file compose.${{ matrix.service }}.compiled.yml publish --yes ${{ github.actor }}/the-box-${{ matrix.service }}
      - uses: actions/upload-artifact@v6
        with:
          name: compose.${{ matrix.service }}.yml
          path: compose.${{ matrix.service }}.compiled.yml
